:root {
  --strong-cerulean: #2D94B0;
  --bitter-lemon: #cfd924;
  --semi-dark-gray: #434343;
  --mid-gray: #555; /* exists in the tachyons palette */
  --gray: #777; /* exists in the tachyons palette */
  --silver: #999; /* exists in the tachyons palette */
  --moon-gray: #ccc; /* exists in the tachyons palette */
  --gray-93: #ededed;
  --very-light-gray: #f0f0f0;
  --rad-green: #c9fb65;
  --bondi-blue: #0095b6;
  --warn-crimson: #ab0530;
  --success-green: #99cc33
}

.error-red {
  color: #f44336
}
/* Tachyons fixes, overrides and additions */
.b--transparent {
  border-color: transparent;
}

.b--moon-gray {
  border-color: var(--moon-gray);
}

.b--gray-93 {
  border-color: var(--gray-93);
}

.b--very-light-gray {
  border-color: var(--very-light-gray);
}

.b--bitter-lemon {
  border-color: var(--bitter-lemon);
}

.b--bondi-blue {
  border-color: var(--bondi-blue);
}

.strong-cerulean {
  color: var(--strong-cerulean);
}

.bondi-blue {
  color: var(--bondi-blue);
}

.moon-gray {
  color: var(--moon-gray);
}
.warn-crimson {
  color: var(--warn-crimson);
}

.success-green {
  color: var(--success-green);
}

.semi-dark-gray {
  color: var(--semi-dark-gray);
}

.f7 {
  font-size: .75rem;
}

.lh3 {
  line-height: 4rem;
}

.lh-cram {
  line-height: 0.7;
}

.lh-input {
  line-height: 1.9;
}

.lh-dbl {
  line-height: 2;
}

.br-pill {
  border-radius: 9999px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-rad-green {
  background-color: var(--rad-green);
}

.bg-bondi-blue {
  background-color: var(--bondi-blue);
}

.bg-very-light-gray {
  background-color: var(--very-light-gray);
}

.outline-0 {
  outline: 0;
}

.shadow-1 {
  box-shadow: 0 0 4px 2px rgba( 0, 0, 0, 0.2 );
}
/* Custom Shadows - start */
.card-shadow-1 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
}

.shadow-in-top-1 {
  box-shadow: inset 0 5px 5px -3px rgba(0, 0, 0, 0.16);
}

.scroll-shadow-1 {
  box-shadow: 0 -4px 4px var(--very-light-gray);
}
/* Custom Shadows - end */

/* Tachyons rotations - start */
.rotate-45 { -webkit-transform: rotate( 45deg ); transform: rotate( 45deg ); }
.rotate-90 { -webkit-transform: rotate( 90deg ); transform: rotate( 90deg ); }
.rotate-135 { -webkit-transform: rotate( 135deg ); transform: rotate( 135deg ); }
.rotate-180 { -webkit-transform: rotate( 180deg ); transform: rotate( 180deg ); }
.rotate-225 { -webkit-transform: rotate( 225deg ); transform: rotate( 225deg ); }
.rotate-270 { -webkit-transform: rotate( 270deg ); transform: rotate( 270deg ); }
.rotate-315 { -webkit-transform: rotate( 315deg ); transform: rotate( 315deg ); }
/* Tachyons rotations - end */

/* Tachyons Height Scale - start */
.h1 { height: 1rem; }
.h2 { height: 2rem; }
.h3 { height: 4rem; }
.h4 { height: 8rem; }
.h5 { height: 16rem; }

/* custom addition */
.h2-5 { height: 3rem; }
/* Tachyons Height Scale - end */

/* Tachyons Width Scale - start */
.w1 { width: 1rem; }
.w2 { width: 2rem; }
.w3 { width: 4rem; }
.w4 { width: 8rem; }
.w5 { width: 16rem; }

/* custom addition */
.w1-5 { width: 1.5rem; }
/* Tachyons Width Scale - end */


/* Tachyons Opacity scale - start */
.o-100 { opacity: 1;    }
.o-90  { opacity: .9;   }
.o-80  { opacity: .8;   }
.o-70  { opacity: .7;   }
.o-60  { opacity: .6;   }
.o-50  { opacity: .5;   }
.o-40  { opacity: .4;   }
.o-30  { opacity: .3;   }
.o-20  { opacity: .2;   }
.o-10  { opacity: .1;   }
.o-05  { opacity: .05;  }
.o-025 { opacity: .025; }
.o-0   { opacity: 0; }
/* Tachyons Opacity scale - end */

/* Tachyons z-index scale - start */
.z-0 {
  z-index:0;
}
.z-1 {
  z-index:1;
}
.z-2 {
  z-index:2;
}
.z-3 {
  z-index:3;
}
.z-4 {
  z-index:4;
}
.z-5 {
  z-index:5
}
.z-999 {
  z-index:999;
}
.z-9999 {
  z-index:9999;
}
.z-max {
  z-index:2147483647;
}
.z-inherit {
  z-index:inherit;
}
.z-initial {
  z-index:initial;
}
.z-unset {
  z-index:unset;
}
/* Tachyons z-index scale - end */


.mw-60 {
  max-width: 60%;
}

.min-h-1 {
  min-height: 1rem;
}
.min-h-2 {
  min-height: 2rem;
}
.min-h-3 {
  min-height: 4rem;
}
.min-h-4 {
  min-height: 8rem;
}
.min-h-5 {
  min-height: 16rem;
}

.min-h-100vh {
  min-height: 100vh;
}

.ml-auto {
  margin-left: auto;
}

.flex{
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow, flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-12 {
  flex: 12;
}

.no-shrink {
  flex-shrink: 0;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-space {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}

/* Functional CSS additions */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-wrap: break-word;
}

.full-height {
  height: 100vh;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.grid {
  display: grid;
}

.flow-row {
  grid-auto-flow: row;
}

.col3-1fr {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap1 {
  grid-gap: 0.25rem;
}

.disabled {
  pointer-events: none;
}

/* Custom text-indent scale -start */
.ti1 {
  text-indent: 0.25rem;
}
.ti2 {
  text-indent: 0.5rem;
}
.ti3 {
  text-indent: 1rem;
}
.ti4 {
  text-indent: 2rem;
}
.ti5 {
  text-indent: 4rem;
}
.ti6 {
  text-indent: 8rem;
}
.ti7 {
  text-indent: 16rem;
}
/* Custom text-indent scale -end */

/* Custom transitions for react-transition-group -start */
.zoom-effect-enter {
  transform: scale(0.01);
}
.zoom-effect-enter-active {
  transform: scale(1);
  transition: transform 500ms ease-in-out
}

.zoom-effect-exit {
  transform: scale(1);
}
.zoom-effect-exit-active {
  transform: scale(0.01);
  transition: transform 500ms ease-in-out;
}
/* Custom transitions for react-transition-group -end */